{% extends "index.html" %}
{% block title %}Thank You{% endblock %}
{% block content %}
    <div class="container" id="services" style="height: 2000px;">
<h4><br><br>Thank you for contacting Glider Development Services.</h4><br>
    <p>We will review your information, and send an email shortly to schedule a consultation.<br>
        If you have multiple projects you would like to discuss, please email our Director of Operations at:<br>
        <a href = "mailto: tessyhetzel.gds@gmail.com">tessyhetzel.gds@gmail.com</a>
    </p>
    </div>
{%  endblock %}